<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/Blue%20Wheeled%20Triskelion%202.ico"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <title>音频文字识别</title>
    <style>

    </style>
</head>
<body>
<h1 style="text-align:center">---------音频文字识别---------</h1>
<div style="text-align: center">
    <form method="post" enctype="multipart/form-data" id="formSubmit">
        <div style="display: inline"><label>请选择文件</label> <input type="file" name="file" title="点击选择文件"
                                                                      multiple="" accept="*/*" class="form-control">
        </div>
        <div style="display: inline-block"><input type="submit" class="btn btn-primary"></div>
    </form>

    <button type="button" style="float: left;margin-left: 50px;" onclick="get_result(path.responseJSON.name)">开始识别</button>
    <div id="show_result" style="margin: 50px;text-align: left;background-color: #ddffff!important;padding: 14px;border-left: 6px solid #ccc!important;border-color: #2196F3!important;">此处为结果输出，语音识别可能需要几分钟，请稍等......</div>
</body>
<script>
    let show_result = document.getElementById("show_result")
    $('#formSubmit').submit(function () {
        // mulitipart form,如文件上传类
        var formData = new FormData(this);
        path=$.ajax({
            async: false,
            type: "POST",
            url: "http://127.0.0.1:8000/file_whisper",
            data: formData,
            dataType: "JSON",
            mimeType: "multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                if (data.statu) {
                    alert("上传成功")
                    console.log(formData.get('file'))
                } else {
                    alert(data.error)
                }
            }
        });
        return false;
    });

    function get_result(name) {
        $.ajax({
            type: "POST",                //请求方式
            url: "http://127.0.0.1:8000/show_whisper_result",                 //路径
            async: true,             //是否异步
            data: {'name':name},
            dataType: "json",
            //返回数据的格式
            success: function (res) {  //成功的回调函数
                show_result.innerHTML = res.message;    //res代表返回的数据，可以随心所欲处理数据啦
            },
            timeout: 200000,
            // 失败的回调
            error: function () {
                console.log('出错啦!!!');
            }
        })
    }

</script>
</html>
